body {
	background: rgb(232, 253, 245) none repeat scroll 0% 0%;
	margin: 40px auto;
	max-width: 650px;
	line-height: 1.6;
	font-size: 16px;
	padding: 0 10px;
	text-align: center;
}

h1 {
	font-weight: 400;
	font-family: 'Permanent Marker', cursive;
	position: relative;
	word-wrap: none;
	white-space: nowrap;
	display: inline-block;
	margin: 0px;
	font-size: min(5vmax, 100px);
}

@media only screen and (max-width: 450px) {
	.link {
		margin-top: 50%;
		font-size: 18px !important;
	}

  }

  @media only screen and (min-width: 451px) {
	.links-mobile {
		display: none;
	}
}
.times {
	font-family: 'Montserrat', cursive;
}

.links {
	margin-top: 10%;
}
.link {
	font-family: 'Raleway', sans-serif;
	background: rgba(245,215,110,.65);
	font-size: min(1.5vmax, 24px);
	color: #040404;
	text-decoration: none;

}

.link:hover {
	background-color: #f5d76e;
}


h1:after {
	content: "";
    background-color: #f3c9b2;
    height: 6px;
    position: absolute;
    bottom: 10%;
	transform: translateY(-50%) rotate(-1deg);
    border-radius: 2px;
    left: 0;
    width: 100%;
    z-index: -1;
}

h2 {
	margin:0px;
	font-size: min(2vmax, 40px);
	font-weight: 400;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	white-space: nowrap;
}

h3 {
	margin:0px;
	font-size: min(1.5vmax, 24px);
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
	white-space: nowrap;
}
