{{ define "main" }}

<div style="text-align:center;">
<header>
    <div class="josh-name-wrapper"><a href="{{ "" | relURL }}" style="text-decoration:none;color:inherit"><h1 class="josh-name">Josh Karper</h1></a></div>
    {{- if $.Site.Params.theme_config.show_description -}}
        <p>{{ $.Site.Params.description }}</p>
    {{- end -}}
</header>
{{ .Content }}

<section class="writing-section">
  <h2><a href="{{ "posts/" | relURL }}">posts</a></h2>
  {{ partial "writing_list.html" (dict "pages" (where .Site.RegularPages "Section" "posts")) }}
</section>

<section class="writing-section">
  <h2><a href="{{ "scraps/" | relURL }}">scraps</a></h2>
  {{ partial "writing_list.html" (dict "pages" (where .Site.RegularPages "Section" "scraps")) }}
</section>
</div>

{{ end }}
